@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h2 style="color: purple">Hello World!Tran Minh Hai </h2>
    <hr />
    <h4>Bảng Cửu Chương</h4>
    @{
        for (int i = 2; i <= 9; i++)
        {
            <div>
                <h4>Cửu chương @i</h4>
                @for (int j = 1; j <= 10; j++)
                {
                    <p>@i x @j = @(i * j)</p>
                }
            </div>
        }
    }<hr />
</div>
