@{
    ViewData["Title"] = "Index";
}


<header>
    <h2>Q3TL</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822041114</td>
                    <td>Tran Minh Hai</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822041040</td>
                    <td>Le Tri Dung</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822031167</td>
                    <td>Hoang Nguyen Khanh Duy</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; - @DateTime.Now.Year</p>
</footer>