
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Bài Tập</h2>
</header>
<section>
    <nav>
        <ul>
            <li>@ViewBag.HoTen</li>
            <li>@ViewBag.MSSV</li>
        </ul>
    </nav>
   <article>
        
        <img src="~/css/z5796893634904_f58215cbfb77a37934a704f67ebea1d7.jpg" style="width:150px; height:200px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; @ViewBag.HoTen - @ViewBag.Nam</p>
</footer>

