@using BaiTapKiemTra01.ViewModels

@{
    ViewData["Title"] = "BaiTap2";
}
@model SanPhamViewModel

<h2>Thong tin san pham</h2>
<p>Ten san pham: @Model.TenSanPham</p>
<p>Gia ban: @Model.GiaBan</p>
<img src="@Model.AnhMoTa" alt="Anh mo ta san pham  " />
<h1>BaiTap2</h1>

