@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>Q3TL</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Tran Minh Hai</h1>
    </article>
</section>

<footer>
    <p>Copyright &copy; - @DateTime.Now.Year</p>
</footer>