@model Order
<div class="container">
    <h3> Thêm đơn hàng</h3>
    <form method="post" action="Upsert">
        <input asp-for="OrderId" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OrderDate"> Ngày đặt hàng </label>
            <input asp-for="OrderDate" type="text" class="form-control" />
            <span asp-validation-for="OrderDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalAmount"> Tổng giá trị </label>
            <input asp-for="TotalAmount" type="text" class="form-control" />
            <span asp-validation-for="TotalAmount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="OrderStatus"> Tình trạng đơn hàng </label>
            <input asp-for="OrderStatus" type="text" class="form-control" />
            <span asp-validation-for="OrderStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SupplierId"> Supplier </label>
            <select asp-for="SupplierId" asp-items="@ViewBag.DSSupplier" class="form-control">
                <option disabled>Chọn nhà cung cấp</option>
            </select>
  
        </div>

        <button type="submit" class="btn btn-primary">@(Model.SupplierId == 0 ? "Tạo mới" : "Cập nhật") </button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}